FRONTEND_URL=http://localhost:5173
PORT=5000
MONGO_URI=mongodb://localhost:27017/whatsapp
JWT_SECRET=your_jwt_secret_here

# WhatsApp Meta Cloud API
WHATSAPP_PROVIDER=meta
API_VERSION=25.0
GRAPH_API_URL=https://graph.facebook.com/v25.0/YOUR_PHONE_ID/messages
WHATSAPP_PHONE_ID=your_phone_number_id
WHATSAPP_BUSINESS_ACCOUNT_ID=your_business_account_id
WHATSAPP_TOKEN=your_access_token
WEBHOOK_VERIFY_TOKEN=your_verify_token
